{% extends "blog/base.html" %}

{% block content %}

<hr>
{% if form.errors %}
	<center><p class="rosinha mt-3">Senha e/ou nome incorreto (s). Por favor tente novamente.</p></center>
{% endif %}

<center>
	<form class="w-50" method="post" action="{% url 'login' %}">
		{% csrf_token %}

		<input type="name" class="form-control mb-3 mt-3" placeholder="Seu nome">
		<input type="password" class="form-control mb-3" placeholder="Sua senha">

		<input type="submit" value="Entrar" class="btn btn-outline-dark mb-3"/>
		<input type="hidden" name="next" value="{{ next }}" />
	</form>

	<a class="rosinha" href="{% url 'password_reset' %}">Perdeu sua senha?</a>
</center>

{% endblock %}
