{% load static %}

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="shortcut icon" href="{% static 'img/icone.png' %}">

    <title>InspiraçãoVeg</title>
  </head>
  <style type="text/css">
    body {
      color: #000000;
      font-family: cursive;
      margin-left: 370px;
      margin-right: 370px;
    }
    .menu {
      background-color: #FFFFFF;
      color: #CE561E;
      overflow: hidden;
    }
    .menu a {
      color: #CE561E;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    .verde:hover {
      background-color: #5D730E !important; 
      color: #FFFFFF !important;
    }
    .verde a.active {
      background-color: #5D730E !important;
      color: #FFFFFF !important;
    }
    .verde {
      background-color: #FFFFFF !important;
      color: #5D730E !important;
    }
    .vinho:hover {
      background-color: #A6193F !important; 
      color: #FFFFFF !important;
    }
    .vinho {
      background-color: #FFFFFF !important; 
      color: #A6193F !important;
    }
    .amarelo:hover {
      background-color: #FFA800 !important; 
      color: #FFFFFF !important;
    }
    .amarelo {
      background-color: #FFFFFF !important;
      color: #FFA800 !important;
    }
    .tituloverde {
      color: #5D730E !important;
    }
    .titulovinho {
      color: #A6193F !important;
    }
    .tituloamarelo {
      color: #FFA800 !important;
    }
    .btn {
      background-color: #FFFFFF;
      color: #000000;
    }
    .btn:hover {
      background-color: #000000;
      color: #FFFFFF;
    }
    .rosinha {
      color: #CE561E;
    }
    .rosinha:hover {
      color: #CE561E;
    }
  </style>
  <body>
    <center><a href="{% url 'post_list' %}"><img src="{% static 'img/capa.png' %}" alt="capa" class="img-fluid"></a></center>

    <center>
        <div class="menu">
          <a href="{% url 'post_list' %}">Menu</a>
          <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Receitas</a>
          <div class="dropdown-menu" aria-labelledby="btn">
            {% for category in categories %}
              <a class="dropdown-item log_cad {{ category.color }}" href="{% url 'category-detail' category.pk %}">{{ category.name }}</a>
            {% endfor %}
          </div>
          {% if request.user.is_authenticated %}
            {{ request.user.get_full_name }}
            <a href="{% url 'logout' %}">Sair</a>
          {% else %}
            <a href="{% url 'login' %}">Login</a>
          {% endif %}
          <form style="margin-right: 378px !important; margin-left: 378px !important" class="form-inline mt-3" action="{% url 'search' %}" method="GET">
            <input type="text" name="q" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="O que você deseja?">
            <button class="btn btn-outline-dark mb-2" type="submit">Pesquisar</button>
          </form>
    </center>

    {% block content %}
    {% endblock %}

    <img src="{% static 'img/footer.png' %}" alt="rodapé" class="img-fluid">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>