{% extends "blog/base.html" %}

{% block content %}

<hr>

<center><h3 class="{{ category.name_color }}"><b><img src="{{ category.folhitazitas.url }}" alt="folha" style="width: 70px; height: 70px">{{ object.name }}</b></h3></center>

<div class="row mt-3">
{% for post in object.posts.all %}
    {% include "blog/post_card.html" %}
{% endfor %}
</div>

{% endblock %}
