{% extends "blog/base.html" %}

{% block content %}

{% load static %}

<body>
    <div class="container mt-3">
    <hr>
      <center>
        <div class="mb-3">
          <h3 class="{{ object.titulo }}"><b><i>{{ object.title }}</i></b></h3>
          <small class="text-muted"><h6>{{ object.description }}</h6></small>
        </div>
      </center>
      <div class="row" style="margin-left: 300px; margin-right: 300px">
        <img src="{{ object.banner.url }}" class="img-fluid" alt="imagem" style="width: 500px; height: 700px">
      </div>
      <hr>
      <div class="mt-3" style="margin-right: 39px; margin-left: 39px">
        <h5 style="color: #5D730E" class="{{ object.titulo }}"><b><img src="{{ object.folha.url }}" alt="folha" style="width: 70px; height: 70px">Ingredientes:</b></h5>
        {{ object.ingredientes | safe }}

        <h5 style="color: #5D730E" class="{{ object.titulo }}"><b><img src="{{ object.folha.url }}" alt="folha" style="width: 70px; height: 70px">Modo de Preparo:</b></h5>
        {{ object.modo_de_preparo | safe }}

        <center><small class="text-muted"><p><h6>| {{ object.created_at }} | {{ object.author }} |</h6></p></small></center>
      </div>
      <hr>
      <div class="mt-3" style="margin-right: 39px; margin-left: 39px">
        <h5 class="{{ object.titulo }}"><b>Comentários:</b></h5>
  </div>

        {% for comment in post.comments.all %}
          <div class="card text-center mb-3">
            <div class="card-body">
              <b>{{ comment.author }}</b>
              <p>{{ comment.text }}</p>
              <small class="text-muted">
                <cite title="Source Title">{{ comment.created_at }}</cite>
              </small>
            </div>
          </div>
        {% endfor %}

        <form method="POST" action="{% url 'comment' object.id %}">
          {% csrf_token %}
          <textarea class="form-control" name="text" rows="5">
          </textarea>
          <center><p><input type="submit" value="Comentar" class="btn btn-outline-dark mt-3"></p></center>
        </form>

{% endblock %}
