{% extends "blog/base.html" %}

{% block content %}
    
    <div class="row">
      {% for category in categories %}
      <div class="pb-2 col-md-12">
      <hr>
        <center><h3><b><img src="{{ category.folhitazitas.url }}" alt="folha" style="width: 70px; height: 70px"><a href="{% url 'category-detail' category.pk %}" class="{{ category.name_color }}">{{ category.name }}</b></h3></a></center>
      </div>
    </div>
    <div class="row">
        {% for post in category.posts.all|slice:":4" %}
        {% include "blog/post_card.html" %}
      {% endfor %}
      <div class="ml-3">
        <a href="{% url 'category-detail' category.pk %}"><button type="button" class="btn btn-outline-dark">Ver Mais</button></a>
      </div>
      {% endfor %}
    </div>

{% endblock %}

