
    <div class="col-md-6">
      <div class="card bg-light mb-3" style="max-width: 539px">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{ post.banner.url }}" alt="imagem" style="width: 180px; height: 250px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <a href="{% url 'post-detail' post.pk %}" style="color: #000000"><h3 class="card-title"><b>{{ post.title }}</b></h3></a>
              <p class="card-text"><small class="text-muted">{{ post.subtitle }}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>



